@import '@/styles/variables';

.header {
	border-bottom: 2px solid $gray-300;

	.container {
		@include container();

		display: flex;
		align-items: center;
		justify-content: space-between;

		.left,
		.right {
			display: flex;
			align-items: center;
			gap: 30px;
		}
	}
}
