@import '@/styles/variables';

.footer {
	padding: 20px 0;
	background-color: $gray-300;

	.container {
		@include container();

		display: flex;
		align-items: center;
		justify-content: center;

		.link {
			text-decoration: none;
			color: inherit;
			transition: color 150ms ease-in-out;

			&:hover {
				color: $primary-color;
			}
		}
	}
}
